<!doctype html>
<html>
    <head>
        <title>Bevy Bench Report</title>
        <style>
            #about a {
                background: #000;
                color: #fff;
                text-decoration: none;
                font-family: arial, sans-serif;
                text-align: center;
                font-weight: bold;
                /* padding: 5px 40px; */
                font-size: 1rem;
                line-height: 2rem;
                position: relative;
                transition: 0.5s;
            }

            #about a:hover {
                background: #c11;
                color: #fff;
            }

            #about a::before,
            #about a::after {
                content: "";
                width: 100%;
                display: block;
                position: absolute;
                top: 1px;
                left: 0;
                height: 1px;
                background: #fff;
            }

            #about a::after {
                bottom: 1px;
                top: auto;
            }

            #about {
                position: fixed;
                display: block;
                top: -20px;
                right: 0;
                width: 200px;
                overflow: hidden;
                height: 200px;
                z-index: 9999;
            }

            #about a {
                width: 200px;
                position: absolute;
                top: 40px;
                right: -60px;
                z-index: 200;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            }
            .maingraph {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .detailedgraph {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .graph {
                width: 100%;
            }
            .maingraph > .domain {
                width: 90%;
            }
            .detailedgraph > .domain {
                width: 80%;
            }
            #settings {
                position: sticky;
                top: 0;
                background: white;
                padding: 10px;
                border: 1px solid #ccc;
                z-index: 100;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/vega@6.2.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@6.1.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@7.0.2"></script>
    </head>
    <body>
        <span id="about">
            <a href="https://github.com/bevyengine/twitcher">About</a>
        </span>
        <div id="settings">
            Stats about Bevy compilation
            <br />
            <label>
                <input
                    type="checkbox"
                    id="has-zero"
                    checked
                    onchange="switchZero(this)"
                />
                Show zero in graphs
            </label>
        </div>
        <div style="display: flex">
            <div id="compilation8" class="maingraph">
                <div id="graph" class="graph"></div>
                <div id="domain" class="domain"></div>
            </div>
            <div id="compilation16" class="maingraph">
                <div id="graph" class="graph"></div>
                <div id="domain" class="domain"></div>
            </div>
        </div>
        <div style="display: flex">
            <div id="sizenative" class="maingraph">
                <div id="graph" class="graph"></div>
                <div id="domain" class="domain"></div>
            </div>
            <div id="sizewasm" class="maingraph">
                <div id="graph" class="graph"></div>
                <div id="domain" class="domain"></div>
            </div>
        </div>
        <div style="display: flex; flex-wrap: wrap">
            {% for crate in crate_names -%}
            <div id="{{ crate }}" class="detailedgraph">
                <div id="graph" class="graph"></div>
                <div id="domain" class="domain"></div>
            </div>
            {% endfor %}
        </div>

        <script>
            function switchZero(element) {
                for (view in views) {
                    views[view].signal("has_zero", element.checked).runAsync();
                }
            }

            vega.expressionFunction("duration", function (ms, params) {
                const time = {
                    h: Math.floor(ms / 3600000) % 24,
                    m: Math.floor(ms / 60000) % 60,
                    s: Math.floor(ms / 1000) % 60,
                    ms: Math.floor(ms) % 1000,
                };
                return Object.entries(time)
                    .filter((val) => val[1] !== 0)
                    .map(([key, val]) => `${val}${key}`)
                    .join(" ");
            });
            vega.expressionFunction("filesize", function (ms, params) {
                const size = {
                    gb: Math.floor(ms / (1024**3)) % 1024,
                    mb: Math.floor(ms / (1024**2)) % 1024,
                    kb: Math.floor(ms / 1024) % 1024,
                    b: Math.floor(ms) % 1024,
                };
                return Object.entries(size)
                    .filter((val) => val[1] !== 0)
                    .map(([key, val]) => `${val}${key}`)
                    .join(" ");
            });
            vega.expressionFunction("filesizeshort", function (ms, params) {
                const size = {
                    gb: Math.floor(ms / (1024**3)) % 1024,
                    mb: Math.floor(ms / (1024**2)) % 1024,
                    kb: Math.floor(ms / 1024) % 1024,
                    b: Math.floor(ms) % 1024,
                };
                return Object.entries(size)
                    .filter((val) => val[1] !== 0)
                    .map(([key, val]) => `${val}${key}`)[0];
            });

            compilationTime = (file, title) => {
                return {
                    $schema: "https://vega.github.io/schema/vega-lite/v6.json",
                    data: {
                        url: file,
                    },
                    width: "container",
                    transform: [
                        {
                            calculate:
                                "'https://github.com/bevyengine/bevy/commit/' + datum.commit",
                            as: "url",
                        },
                    ],
                    title: title,
                    mark: {
                        type: "line",
                    },
                    params: [
                        { name: "between", value: [{{ threemonthsago }}, {{ end }}] },
                        { name: "has_zero", value: true },
                    ],

                    encoding: {
                        x: {
                            title: "",
                            field: "timestamp",
                            type: "temporal",
                            scale: {domain: {selection: "between"}},
                        },
                        y: {
                            field: "value",
                            type: "quantitative",
                            scale: {
                                zero: { expr: "has_zero" },
                            },
                            axis: {
                                formatType: "duration",
                            },
                            title: "Duration",
                        },
                        tooltip: [
                            {
                                field: "value",
                                formatType: "duration",
                                title: "Duration",
                            },
                            { field: "commit" },
                            {
                                field: "timestamp",
                                title: "Time",
                                type: "temporal",
                                format: "%Y-%m-%d %H:%M:%S",
                            }
                        ],
                        href: { field: "url", type: "nominal" },
                    },
                    config: { customFormatTypes: true }
                };
            };
            size = (file, title) => {
                return {
                    $schema: "https://vega.github.io/schema/vega-lite/v6.json",
                    data: {
                        url: file,
                    },
                    width: "container",
                    transform: [
                        {
                            calculate:
                                "'https://github.com/bevyengine/bevy/commit/' + datum.commit",
                            as: "url",
                        },
                    ],
                    title: title,
                    mark: {
                        type: "line",
                    },
                    params: [
                        { name: "between", value: [{{ threemonthsago }}, {{ end }}] },
                        { name: "has_zero", value: true },
                    ],

                    encoding: {
                        x: {
                            title: "",
                            field: "timestamp",
                            type: "temporal",
                            scale: {domain: {selection: "between"}},
                        },
                        y: {
                            field: "value",
                            type: "quantitative",
                            scale: {
                                zero: { expr: "has_zero" },
                            },
                            axis: {
                                formatType: "filesizeshort",
                            },
                            title: "Size",
                        },
                        tooltip: [
                            {
                                field: "value",
                                formatType: "filesize",
                                title: "Size",
                            },
                            { field: "commit" },
                            {
                                field: "timestamp",
                                title: "Time",
                                type: "temporal",
                                format: "%Y-%m-%d %H:%M:%S",
                            }
                        ],
                        href: { field: "url", type: "nominal" },
                    },
                    config: { customFormatTypes: true }
                };
            };
            crateCompilationTime = (file, title) => {
                return {
                    $schema: "https://vega.github.io/schema/vega-lite/v6.json",
                    data: {
                        url: file,
                    },
                    width: "container",
                    transform: [
                        {
                            calculate:
                                "'https://github.com/bevyengine/bevy/commit/' + datum.commit",
                            as: "url",
                        },
                    ],
                    title: title,
                    mark: {
                        type: "circle",
                    },
                    params: [
                      { name: "between", value: [{{ threemonthsago }}, {{ end }}] },
                      { name: "has_zero", value: true },
                    ],

                    encoding: {
                        x: {
                            title: "",
                            field: "timestamp",
                            type: "temporal",
                            scale: {domain: {selection: "between"}},
                        },
                        y: {
                            field: "value",
                            type: "quantitative",
                            scale: {
                                zero: { expr: "has_zero" },
                            },
                            axis: {
                                formatType: "duration",
                            },
                            title: "Duration",
                        },
                        tooltip: [
                            {
                                field: "value",
                                formatType: "duration",
                                title: "Duration",
                            },
                            { field: "commit" },
                            {
                                field: "timestamp",
                                title: "Time",
                                type: "temporal",
                                format: "%Y-%m-%d %H:%M:%S",
                            }
                        ],
                        href: { field: "url", type: "nominal" },
                        // color: {
                        //     condition: [
                        //         {
                        //             test: "datum.value > 20000",
                        //             value: "red",
                        //         },
                        //         {
                        //             test: "datum.value > 10000",
                        //             value: "orange",
                        //         },
                        //     ],
                        //     value: "green",
                        // },
                    },
                    config: { customFormatTypes: true }
                };
            };
            domain = (file, title) => {
                return {
                    $schema: "https://vega.github.io/schema/vega-lite/v6.json",
                    data: {
                        url: file,
                    },
                    width: "container",
                    height: 60,
                    transform: [
                        {
                            calculate:
                                "'https://github.com/bevyengine/bevy/commit/' + datum.commit",
                            as: "url",
                        },
                    ],
                    selection: {
                        between: {
                            type: "interval",
                            encodings: ["x"],
                            init: {x: [{{ threemonthsago }}, {{ end }}]}
                        }
                    },
                    mark: {
                        type: "line",
                    },
                    encoding: {
                        x: {
                            field: "timestamp",
                            type: "temporal",
                              scale: {
                                  domain: [{{ start }}, {{ end }}],
                              },
                        },
                        y: {
                            field: "value",
                            type: "quantitative",
                            scale: {
                                zero: false,
                            },
                            axis: {
                                grid: false,
                                tickCount: 0,
                            },
                            title: "",
                        }
                    },
                    config: { customFormatTypes: true }
                };
            };

            function throttle(func, delay = 50) {
              let timer = null;

              return (...args) => {
                if (timer === null) {
                  func(...args);
                  timer = setTimeout(() => {
                    timer = null;
                  }, delay);
                }
              };
            }

            function isEmpty(obj) {
                for (const prop in obj) {
                    if (Object.hasOwn(obj, prop)) {
                        return false;
                    }
                }

                return true;
            }

            let views = {};
            let domains = {};
            let last_values = [[0, 1]];

            function share_interval(emitter, value) {
                var percent = [0, 1];

                if (!isEmpty(value)) {
                    percent = value.map(
                        (x) => x / domains[emitter].signal("width"),
                    );
                    if (value[0] == value[1]) {
                        percent = [0, 1];
                    }
                    if (value[0] === undefined) {
                        percent[0] = last_values[last_values.length - 2][0];
                    }
                }
                if (
                    (percent[0] === 0 &&
                        percent[1] === 1 &&
                        last_values[last_values.length - 1][0] === 0) ||
                    (percent[0] != 0 &&
                        last_values.find(
                            (x) => x[0] === percent[0] && x[1] === percent[1],
                        ))
                ) {
                    return;
                }
                last_values.push(percent);
                if (last_values.length > 10) {
                    last_values.shift();
                }

                let timestamps = percent.map(
                    (x) => x * (1760805869000 - 1743541086000) + 1743541086000,
                );
                for (name in views) {
                    let view = views[name];
                    view.signal("between", timestamps).runAsync();
                }

                for (name in domains) {
                    let view = domains[name];
                    if (view == emitter) {
                        continue;
                    }
                    if (value[0] == value[1]) {
                        view.signal("between_x", {});
                    } else {
                        view.signal(
                            "between_x",
                            percent.map((x) => x * view.signal("width")),
                        );
                    }
                }
            }

            vegaEmbed(
                "#compilation16 > #graph",
                compilationTime(
                    "data/compile-time-unix-x86_64-16.mean.json",
                    "Mean Compilation Time (16 cores)",
                ),
                { mode: "vega-lite" },
            ).then((embedded) => {
                views["16"] = embedded.view;
            });
            vegaEmbed(
                "#compilation16 > #domain",
                domain(
                    "data/compile-time-unix-x86_64-16.mean.json",
                    "Mean Compilation Time (16 cores)",
                ),
                { mode: "vega-lite", actions: false },
            ).then((embedded) => {
                domains["16"] = embedded.view;
                embedded.view.addSignalListener(
                    "between_x",
                    throttle((_, value) => share_interval("16", value)),
                );
            });

            vegaEmbed(
                "#compilation8 > #graph",
                compilationTime(
                    "data/compile-time-unix-x86_64-8.mean.json",
                    "Mean Compilation Time (8 cores)",
                ),
                { mode: "vega-lite" },
            ).then((embedded) => {
                views["8"] = embedded.view;
            });
            vegaEmbed(
                "#compilation8 > #domain",
                domain(
                    "data/compile-time-unix-x86_64-8.mean.json",
                    "Mean Compilation Time (8 cores)",
                ),
                { mode: "vega-lite", actions: false },
            ).then((embedded) => {
                domains["8"] = embedded.view;
                embedded.view.addSignalListener(
                    "between_x",
                    throttle((_, value) => share_interval("8", value)),
                );
            });

            vegaEmbed(
                "#sizenative > #graph",
                size(
                    "data/native-unix-x86_64.size.json",
                    "Binary Size (native)",
                ),
                { mode: "vega-lite" },
            ).then((embedded) => {
                views["size-native"] = embedded.view;
            });
            vegaEmbed(
                "#sizenative > #domain",
                domain(
                    "data/native-unix-x86_64.size.json",
                    "Binary Size (native)",
                ),
                { mode: "vega-lite", actions: false },
            ).then((embedded) => {
                domains["size-native"] = embedded.view;
                embedded.view.addSignalListener(
                    "between_x",
                    throttle((_, value) => share_interval("8", value)),
                );
            });

            vegaEmbed(
                "#sizewasm > #graph",
                size(
                    "data/wasm32-unknown-unknown.optimized.size.json",
                    "Binary Size (optimised Wasm)",
                ),
                { mode: "vega-lite" },
            ).then((embedded) => {
                views["size-wasm"] = embedded.view;
            });
            vegaEmbed(
                "#sizewasm > #domain",
                domain(
                    "data/wasm32-unknown-unknown.optimized.size.json",
                    "Binary Size (optimised Wasm)",
                ),
                { mode: "vega-lite", actions: false },
            ).then((embedded) => {
                domains["size-wasm"] = embedded.view;
                embedded.view.addSignalListener(
                    "between_x",
                    throttle((_, value) => share_interval("8", value)),
                );
            });

            {% for crate in crate_names -%}
            vegaEmbed(
                "#{{ crate }} > #graph",
                crateCompilationTime(
                    "data/crate-compile-time-unix-x86_64-16.{{ crate }}.mean.json",
                    "Crate Mean Compilation Time - {{ crate }}",
                ),
                { mode: "vega-lite" },
            ).then((embedded) => {
                views["{{ crate }}"] = embedded.view;
            });
            vegaEmbed(
                "#{{ crate }} > #domain",
                domain(
                    "data/crate-compile-time-unix-x86_64-16.{{ crate }}.mean.json",
                    "Crate Mean Compilation Time - {{ crate }}",
                ),
                { mode: "vega-lite", actions: false },
            ).then((embedded) => {
                domains["{{ crate }}"] = embedded.view;
                embedded.view.addSignalListener(
                    "between_x",
                    throttle((_, value) => share_interval("{{ crate }}", value)),
                );
            });

            {% endfor %}
        </script>
    </body>
</html>
