name: Build and Deploy Page

on:
  workflow_dispatch:
  push:
    branches:
      - results

jobs:
  build-and-deploy:
    name: build-and-deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update;
          DEBIAN_FRONTEND=noninteractive sudo apt-get install --no-install-recommends -yq libfontconfig1-dev
      - name: Checkout Twitcher main branch
        uses: actions/checkout@v4
      - name: Checkout Twitcher results branch
        uses: actions/checkout@v4
        with:
          ref: "results"
          path: "results"
      - name: Checkout Twitcher queue branch
        uses: actions/checkout@v4
        with:
          ref: "queue"
          path: "queue"
      - name: Checkout Bevy main branch
        uses: actions/checkout@v4
        with:
          repository: "bevyengine/bevy"
          ref: "main"
          path: "bevy"
          fetch-depth: 500
      - name: Build Graphs
        run: |
          cargo run --bin graphs
      - name: Build HTML for graphs
        run: |
          cargo run --bin raw-graphs
      - name: Build Reports
        run: |
          cargo run --bin reports -- ${{ github.sha }}
      - name: Build Landing Page
        run: |
          cargo run --bin landing-page
      - name: Prepare Site
        run: |
          mkdir site
          mv *.html site/
          mv graphs site/
          mv data site/
      - name: Store generated html
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./site
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
